@model DisponibilidadeProfessor
@{
    ViewData["Title"] = "Criar Disponibilidade do Professor";
    var diasDaSemana = new DayOfWeek[] { DayOfWeek.Monday, DayOfWeek.Tuesday, DayOfWeek.Wednesday, DayOfWeek.Thursday, DayOfWeek.Friday, DayOfWeek.Saturday, DayOfWeek.Sunday };
    var horariosInicio = new TimeSpan[] { TimeSpan.Parse("07:30"), TimeSpan.Parse("08:20"), TimeSpan.Parse("09:10"), TimeSpan.Parse("10:20"), TimeSpan.Parse("11:10") };
    var horariosFim = new TimeSpan[] { TimeSpan.Parse("08:20"), TimeSpan.Parse("09:10"), TimeSpan.Parse("10:00"), TimeSpan.Parse("11:10"), TimeSpan.Parse("12:00") };
    var cultureInfo = new System.Globalization.CultureInfo("pt-BR");
    var disponibilidadeString = String.Join(",", Model.DisponibilidadeProfessorDias.Select(d => $"{(int)d.DisponibilidadeDia.DiaDaSemana}-{d.Horario.HoraInicio.Hours}-{d.Horario.HoraFim.Hours}"));
}

<form asp-controller="Disponibilidade" asp-action="CriarDispProfessor" method="post">
    <h4>Disponibilidade</h4>
    <input type="hidden" asp-for="ProfessorId" />
    <input type="hidden" id="DisponibilidadeDiasInput" name="DisponibilidadeDiasInput" value="@disponibilidadeString" />



    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                @foreach (var dia in diasDaSemana)
                {
                    <th>@cultureInfo.DateTimeFormat.GetDayName(dia)</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (var j = 0; j < horariosInicio.Length; j++)
            {
                <tr>
                    <td>@horariosInicio[j].ToString(@"hh\:mm") - @horariosFim[j].ToString(@"hh\:mm")</td>
                    @for (var i = 0; i < diasDaSemana.Length; i++)
                    {
                        <td>
                            <input type="hidden" name="Disponibilidade.DisponibilidadeDias[@i].DiaDaSemana" value="@i" />
                            <input type="hidden" name="Disponibilidade.DisponibilidadeDias[@i].HoraInicio" value="@horariosInicio[j].ToString(@"hh\:mm")" />
                            <input type="hidden" name="Disponibilidade.DisponibilidadeDias[@i].HoraFim" value="@horariosFim[j].ToString(@"hh\:mm")" />
                            <button class="btn btn-success btn-availability w-100"
                                    data-dia="@i"
                                    data-horario-inicio="@horariosInicio[j].ToString(@"hh\:mm")"
                                    data-horario-fim="@horariosFim[j].ToString(@"hh\:mm")">
                                Disponível
                            </button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
