@using Humanizer.Localisation;
@model List<Professor>
@{
    ViewData["Title"] = Resource.ProfessorListing;

    Dictionary<ClassScheduler.Enums.TitulacaoEnum, string> titulacaoMap = new Dictionary<ClassScheduler.Enums.TitulacaoEnum, string>
    {
        {ClassScheduler.Enums.TitulacaoEnum.Doutorado, "Doutorado"},
        {ClassScheduler.Enums.TitulacaoEnum.Mestrado, "Mestrado"},
        {ClassScheduler.Enums.TitulacaoEnum.Especializacao, "Especialização"},
        {ClassScheduler.Enums.TitulacaoEnum.MBA, "MBA"},
        {ClassScheduler.Enums.TitulacaoEnum.Graduacao, "Graduação"},
        {ClassScheduler.Enums.TitulacaoEnum.Outra, "Outra"}
    };
}

<div class="alert-container">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
</div>

<div class="container-fluid text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="Professor" asp-action="Criar">@Resource.AddNewProfessor</a>
    </div>

    <h1>@Resource.ProfessorListing</h1>

    <table id="table-professores" class="table display">
        <thead>
            <tr>
                <th scope="col">@Resource.ID</th>
                <th scope="col">@Resource.Name</th>
                <th scope="col">@Resource.LastName</th>
                <th scope="col">@Resource.Qualification</th>
                <th scope="col">@Resource.Email</th>
                <th scope="col">@Resource.Phone</th>
                <th scope="col">@Resource.RegistrationDate</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (Professor professor in Model)
                {
                    var titulacao = titulacaoMap[professor.Titulacao];

                    <tr>
                        <th scope="row">@professor.Id</th>
                        <td>@professor.Nome</td>
                        <td>@professor.Sobrenome</td>
                        <td>@titulacao</td>
                        <td>@professor.Email</td>
                        <td>@professor.Telefone</td>
                        <td>@professor.DataCadastro</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@professor.Id" asp-controller="Professor" asp-action="Editar">@Resource.Edit</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@professor.Id" asp-controller="Professor" asp-action="Apagar">@Resource.Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
